 :root {
     --body-bg-color: #e5e5e5;
     --container-bg-color: #f0f0f0;
     --menc-bg-color: #F7F7FA;
     --body-text-color: black;
     --mentA-text-color: #000;
     --fa-border-color: #ccc;
     --fa-hover-color: #000;
     --a-text-color: navy;
     --h-text-color: #000;
     --menu-bg-color: #e4e4e4;
     --menu-second-bg-color: #ccc;
     --menu-text-color: #000;
     --menu-text-shadow-width: 1px;
     --sprite-img: url(https://metanit.com/img/sprites2.png);
     --codef-bgcolor: #fff;
     --code-bgcolor: #F7F7FA;
     --code-keyword: #006699;
     --code-plain: #000;
     --code-comment: #008200;
     --code-string: #DB003E;
     --tree-selcolor: #00008b;
     --tree-selbgcolor: #ddd;
     --fa-adjust: "\f186";
     --bottom-color: #000;
     --socialbtn-color: #777;
     --logo-color: #444;
     --logo-hover-color: #1F3A93;
     --legend-text-color: #333;
     --dop-txt-color: #444;
     --dop-hover-txt-color: #000;
     --console-bgcolor: #000;
     --console-textcolor: #fff;
     --contpage-color: navy;
     --content-a-seltxtcolor: #000;
     --tabhead-bgcolor: #eee;
     --tab-bgcolor: #F7F7FA;
 }
 :root[theme='dark'] {
     --body-bg-color: #000;
     --container-bg-color: #555;
     --menc-bg-color: #555;
     --body-text-color: #ededed;
     --mentA-text-color: #ededed;
     --fa-border-color: #fff;
     --fa-hover-color: #fff;
     --a-text-color: #81C784;
     --h-text-color: #ededed;
     --menu-bg-color: #444;
     --menu-second-bg-color: #444;
     --menu-text-color: #ededed;
     --menu-text-shadow-width: 0px;
     --sprite-img: url(https://metanit.com/img/sprites4.png);
     --codef-bgcolor: #000;
     --code-bgcolor: #555;
     --code-keyword: #679fbc;
     --code-plain: #ededed;
     --code-comment: #81C784;
     --code-string: #ef9b8e;
     --tree-selcolor: #81C784;
     --tree-selbgcolor: #555;
     --fa-adjust: "\f185";
     --bottom-color: #ededed;
     --socialbtn-color: #ccc;
     --logo-color: #ccc;
     --logo-hover-color: #81C784;
     --legend-text-color: #ededed;
     --dop-txt-color: #ededed;
     --dop-hover-txt-color: #81C784;
     --console-bgcolor: #393636;
     --console-textcolor: #ededed;
     --contpage-color: #ededed;
     --content-a-seltxtcolor: #ededed;
     --tabhead-bgcolor: #696868;
     --tab-bgcolor: #4d4d4d;
 }
 @font-face {
     font-family: 'FontAwesome';
     src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal
 }
 .fa {
     display: inline-block;
     font: normal normal normal 14px/1 FontAwesome;
     font-size: inherit;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale
 }
 .fa-lg {
     font-size: 1.33333333em;
     line-height: .75em;
     vertical-align: -15%
 }
 .fa-ul {
     padding-left: 0;
     margin-left: 2.14285714em;
     list-style-type: none
 }
 .fa-ul>li {
     position: relative
 }
 .fa-li {
     position: absolute;
     left: -2.14285714em;
     width: 2.14285714em;
     top: .14285714em;
     text-align: center;
 }
 .fa-li.fa-lg {
     left: -1.85714286em;
 }
 .fa-2x {
     font-size: 2em;
 }
 .fa-bars:before {
     content: "\f0c9";
 }
 .fa-odnoklassniki:before {
     content: "\f263";
 }
 .fa-odnoklassniki-square:before {
     content: "\f264";
 }
 .fa-twitter:before {
     content: "\f099";
 }
 .fa-twitter-square:before {
     content: "\f081";
 }
 .fa-facebook-square:before {
     content: "\f082";
 }
 .fa-google-plus-square:before {
     content: "\f0d4";
 }
 .fa-facebook-f:before,
 .fa-facebook:before {
     content: "\f09a";
 }
 .fa-google-plus:before {
     content: "\f0d5";
 }
 .fa-github:before {
     content: "\f09b";
     font-size: 1.4em;
 }
 a.fa-github {
     font-size: 1.9em;
     vertical-align: -30%;
     height: 20px !important;
     padding-top: 5px !important;
     padding-bottom: 3px;
 }
 .fa-github-square:before {
     content: "\f092";
 }
 a.fa-github-square {
     font-size: 1.6em;
     vertical-align: -25%;
 }
 .fa-youtube:before {
     content: "\f167";
 }
 .fa-youtube {
     font-size: 1.5em;
 }
 .fa-vk:before {
     content: "\f189";
 }
 .fa-tel:before {
     content: "\f2c6";
 }
 .fa-google:before {
     content: "\f1a0";
 }
 .fa-usd:before {
     content: "\f155";
 }
 .fa-money:before {
     content: "\f0d6";
 }
 .fa-file-text-o:before {
     content: "\f0f6";
 }
 .fa-youtube-play:before {
     content: "\f16a";
 }
 .menC .socialtop a.fa-youtube-play {
     font-size: 1.5em;
     vertical-align: -25%;
 }
 .fa-question:before {
     content: "\f128";
 }
 .fa-pencil:before {
     content: "\f040";
 }
 .fa-adjust:before {
     content: var(--fa-adjust);
 }
 /*042*/
 
 body {
     margin: 0px;
     padding: 0px;
     font-family: verdana, arial, helvetica, sans-serif;
     background-color: var(--body-bg-color);
     color: var(--body-text-color);
     font-size: 15px;
     overflow-x: hidden;
 }
 h1,
 h2,
 h3,
 h4 {
     color: var(--h-text-color);
 }
 h1 {
     font-size: 23px;
 }
 h2 {
     font-size: 1.5rem;
 }
 code {
     font-family: monospace;
 }
 .b,
 .bb,
 strong {
     font-weight: bold;
 }
 .ii {
     font-style: italic;
 }
 .index {
     font-weight: bold;
     padding-left: 10px;
 }
 .clear li {
     overflow: hidden;
 }
 #container {
     width: 100%;
     overflow: hidden;
     max-width: 1400px;
     margin: auto;
     background-color: var(--container-bg-color);
 }
 a {
     color: var(--a-text-color);
 }
 a:hover {
     color: #D91E18;
 }
 a:hover > a::after,
 a:hover > a::before {
     color: #D91E18;
 }
 a:visited {
     color: var(--a-text-color)
 }
 a:hover {
     text-decoration: none;
 }
 #toIndex {
     clear: both;
     width: 100%;
     margin-top: 15px;
     margin-left: 5px;
 }
 #toIndex a,
 #toIndex a:visited {
     padding: 5px;
     width: 70px;
     font-size: 10.5pt;
 }
 #yt {
     width: 480px;
     height: 270px;
     margin-top: 30px;
 }
 #header {
     width: 100%;
     height: 40px;
     margin-top: 8px;
     position: relative;
 }
 #logo {
     height: 50px;
     margin-left: 3px;
     font-weight: bold;
     margin-bottom: 10px;
     font-size: 17px;
 }
 #logo a,
 #logo a:visited {
     color: var(--logo-color);
     font-size: 30px;
 }
 #logo a:hover {
     color: var(--logo-hover-color);
 }
 .socialbtns {
     right: 80px;
     top: 0px;
 }
 .socialbtns a,
 .socialbtns a:hover {
     color: var(--fa-hover-color);
     text-decoration: none;
     padding: 5px;
     padding-top: 2px;
 }
 .socialbtns,
 .socialbtns ul,
 .socialbtns li {
     margin: 0;
     padding: 5px;
 }
 .socialbtns li {
     list-style: none outside none;
     display: inline-block;
 }
 .socialbtns .fa {
     color: var(--socialbtn-color);
 }
 .socialbtns .fa:hover {
     color: var(--fa-hover-color);
     cursor: pointer;
 }
 .socialBlock {
     margin-top: 13px;
     display: block;
     clear: both;
     height: 50px;
 }
 .share {
     height: auto;
     max-width: 360px;
     float: left;
 }
 .menC .share a,
 .menC .share a:hover,
 .menC .like a,
 .menC .like a:hover {
     text-decoration: none;
     cursor: pointer;
 }
 .menC .share,
 .menC .share ul,
 .menC .share li,
 .menC .like,
 .menC .like ul,
 .menC .like li {
     margin: 0;
     padding-left: 0;
 }
 .menC .like ul {
     float: left;
     margin-right: 5px;
 }
 .menC .like .gplus {
     float: right;
     margin-top: 5px;
 }
 .menC .share li,
 .menC .like li {
     list-style: none outside none;
     display: inline-block;
 }
 td {
     vertical-align: top;
 }
 .menC .share .fa,
 .menC .like .fa {
     text-align: center;
     width: 30px;
     height: 20px;
     background-color: #FFF;
     border: 2px solid #ccc;
     padding-top: 8px;
     border-radius: 22px;
     -webkit-border-radius: 22px;
 }
 .menC .share .fa-bars {
     text-align: center;
     width: 30px;
     height: 20px;
     background-color: #f0f0f0;
     border: 0px solid #ccc;
     padding-top: 8px;
     border-radius: 0px;
     -webkit-border-radius: 0px;
 }
 .menC .like {
     float: right;
 }
 .menC .share .fa:hover,
 .menC .like .fa:hover {
     color: #FFF;
     background-color: #444;
     border: 2px solid #ccc;
 }
 .menC .socialtop .fa,
 .menC .socialbottom .fa {
     color: #444;
     border-color: #444;
 }
 .share.socialbottom,
 .like.socialbottom {
     margin-top: 20px;
 }
 .menC .socialtop a i.fa-youtube-play {
     color: #b5161b;
     border-color: #b5161b;
 }
 .menC .dop .fa:hover {
     color: #FFF;
     background-color: #444;
     border: 2px solid #888;
 }
 .menC .dop .fa {
     text-align: center;
     width: 30px;
     height: 20px;
     background-color: #FFF;
     border: 2px solid #444;
     padding-top: 8px;
     border-radius: 22px;
     -webkit-border-radius: 22px;
 }
 .menC .dop a,
 .menC .dop a:hover {
     text-decoration: none;
     cursor: pointer;
 }
 .menC .dop,
 .menC .dop ul,
 .menC .dop li {
     margin: 0;
     padding-left: 0;
 }
 .menC .dop {
     margin-top: 30px;
 }
 .menC .dop li {
     list-style: none outside none;
     margin-top: 5px;
 }
 fieldset {
     border-color: #ccc;
     border-style: solid;
     border-width: 1px;
 }
 legend {
     color: var(--legend-text-color);
     font-size: 16px;
 }
 .dop-txt {
     color: var(--dop-txt-color);
     font-size: 16px;
     padding-left: 5px;
 }
 a:hover .dop-txt {
     color: var(--dop-hover-txt-color);
     text-decoration: underline;
 }
 .menC .dop .fa-youtube-play:hover {
     color: #fff;
     background-color: #b5161b;
     border-color: #b5161b;
 }
 .menuButton {
     position: absolute;
     cursor: pointer;
     top: 13px;
     right: 7px;
     display: block;
     width: 30px;
     height: 30px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 .icon-bar {
     background-color: var(--logo-color);
     display: block;
     width: 28px;
     height: 3px;
     border-radius: 1px;
 }
 .icon-bar + .icon-bar {
     margin-top: 5px;
 }
 table.tab,
 table.tab tr,
 table.tab td {
     display: block;
 }
 .tab {
     width: auto;
     max-width: 99%;
     clear: both;
     background-color: var(--tab-bgcolor);
     border-collapse: collapse;
 }
 .tab tr {
     vertical-align: top;
 }
 .tab td {
     padding: 1px 3px 1px 5px;
     width: auto;
     border: 1px #ccc solid;
 }
 .tab p {
     line-height: 160%;
 }
 .tabhead {
     font-weight: bold;
     background: var(--tabhead-bgcolor);
     vertical-align: middle;
     text-align: center;
 }
 /*=======================
    Menu
-----------------------*/
 
 #menu ul,
 #menu ul li,
 #menu ul li a {
     margin: 0;
     padding: 0;
     border: 0;
     list-style: none;
     line-height: 1;
     display: block;
     position: relative;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 #menu {
     width: 100%;
     float: right;
 }
 #menu ul {
     margin-left: -8px;
 }
 #menu ul.open {
     width: 100%;
     display: none;
 }
 #menu ul li {
     width: 100%;
     height: auto;
     border-top: 1px solid rgba(120, 120, 120, 0.15);
 }
 #menu ul.open {
     display: block;
 }
 #menu ul.close {
     display: none;
 }
 #menu > ul > li {
     float: none;
     display: block;
 }
 #menu .drop-item {
     position: absolute;
     z-index: 10;
     right: 0px;
     top: 40px;
     display: block;
     height: 52px;
     width: 52px;
     cursor: pointer;
     position: absolute;
 }
 #menu .drop-item .close,
 #menu .drop-item .open {
     position: absolute;
     z-index: 10;
     right: 10px;
     display: block;
     cursor: pointer;
     position: absolute;
     width: 10px;
     height: 10px;
     border-bottom: 1px solid #000000;
     border-right: 1px solid #000000;
     content: "";
     -webkit-transition: border-color 0.2s ease;
     -moz-transition: border-color 0.2s ease;
     -ms-transition: border-color 0.2s ease;
     transition: border-color 0.2s ease;
 }
 #menu .drop-item .close {
     top: 15px;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
 }
 #menu .drop-item .open {
     top: 20px;
     -webkit-transform: rotate(225deg);
     -moz-transform: rotate(225deg);
     -ms-transform: rotate(225deg);
     -o-transform: rotate(225deg);
     transform: rotate(225deg);
 }
 #menu > ul > li > a {
     padding: 14px 28px;
     font-size: var(--font-md);
     text-decoration: none;
     text-transform: uppercase;
     color: var(--menu-text-color);
 }
 #menu > ul > li:hover > a {
     font-weight: bold;
 }
 /* End of Menu
==========================*/
 
 #search {
     float: right;
     width: 320px;
     height: 34px;
     z-index: 100;
     position: absolute;
     top: 10px;
     overflow: hidden;
     right: 65px;
     transition: opacity 0.3s ease-out 0.1s, opacity 0.4s ease-out 0s;
 }
 #cse-search-box input[type="submit"] {
     border-radius: 3px;
     border-width: 1px;
     background-color: #F5F2F0;
     height: 32px;
 }
 #cse-search-box input[type="text"] {
     border-radius: 2px;
     border-width: 1px;
     background-color: #F5F2F0;
     height: 28px;
     width: 240px;
     padding: 0 5px;
 }
 .transp {
     opacity: 0;
     display: none;
 }
 #magnifying-glass {
     position: absolute;
     top: 10px;
     right: 50px;
     cursor: pointer;
     font-size: 3.0em;
     display: inline-block;
     width: 0.3em;
     height: 0.3em;
     border: 0.11em solid var(--socialbtn-color);
     border-radius: 0.35em;
 }
 #magnifying-glass::before {
     content: "";
     display: inline-block;
     position: absolute;
     right: -0.25em;
     bottom: -0.11em;
     border-width: 0;
     background: var(--socialbtn-color);
     width: 0.35em;
     height: 0.08em;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
 }
 .menC {
     background: var(--menc-bg-color);
     border-top: 1px solid #ccc;
     clear: both;
 }
 .articleText {
     margin-left: 10px;
     margin-right: 5px;
     height: auto;
 }
 .menC a {
     color: var(--a-text-color);
     text-decoration: underline;
 }
 .menC P {
     line-height: 160%;
 }
 .centerRight {
     width: 99%;
 }
 .centerRight h2,
 .centerLeft h2 {
     border-bottom: 1px solid #ccc;
     height: 5%;
     width: 90%;
 }
 .centerLeft .thread {
     width: 95%;
 }
 .centerLeft .thread a,
 .centerRight a {
     font-weight: bold;
 }
 .centerLeft .thread .sig {
     font-size: var(--font-md);
     line-height: 10px;
     margin-left: 4px;
 }
 .menC .nav {
     text-align: center;
     width: 99%;
     margin-top: 35px;
     font-weight: 700;
 }
 .menC .nav a {
     padding: 5px;
     color: var(--a-text-color);
 }
 .menC .nav a:hover {
     background: #ddd;
 }
 .menC a.notelink {
     color: var(--code-string);
 }
 .date {
     text-align: right;
     font-weight: bold;
     font-size: 11px;
     padding-right: 20px;
 }
 img {
     max-width: 99%;
     height: auto;
     margin-bottom: 15px;
 }
 pre {
     font-family: monospace;
     max-width: 99%;
     line-height: 160%;
     white-space: pre-wrap;
     border: 1px solid #ccc;
     clear: both;
 }
 .contpage {
     width: 70%;
     list-style: none;
     padding-left: 15px;
 }
 .contpage li a {
     font-weight: bold;
     width: auto;
 }
 .contpage li a:hover {
     color: var(--content-a-seltxtcolor);
 }
 .content {
     padding-left: 20px;
     margin-top: 35px;
     font-size: 13px;
     list-style-type: none;
 }
 .content a:hover {
     font-weight: bold;
     color: var(--content-a-seltxtcolor);
 }
 .subsubcontent {
     list-style-type: none;
 }
 .console {
     max-width: 300px;
     padding: 0px;
 }
 .consoletext {
     background-color: var(--console-bgcolor);
     color: var(--console-textcolor);
     font-family: Verdana;
     font-size: 12px;
     line-height: 210%;
     padding-left: 10px;
 }
 .browser {
     max-width: 300px;
     padding-left: 5px;
     background-color: var(--console-textcolor);
     color: var(--console-bgcolor);
     font-family: Verdana;
     font-size: 12px;
     line-height: 210%;
 }
 .navmenu {
     width: 165px;
 }
 .navmenu > a:hover {
     text-decoration: none;
 }
 .navmenu a {
     text-decoration: none;
     color: var(--mentA-text-color);
     font: 14px var(--sans-serif);
     height: 25px;
     padding-top: 15px;
     padding-left: 10px;
     display: block;
     border-bottom: 1px solid #ccc;
 }
 .navmenu a:hover {
     color: var(--a-text-color);
     font-weight: 600;
     text-decoration: none;
 }
 #footer {
     clear: both;
     width: 100%;
     height: 100%;
     padding-left: 10px;
     padding-top: 10px;
     border-top: 1px solid #ccc;
 }
 .bottomLinks a {
     display: inline-block;
     color: var(--bottom-color);
     padding: 4px;
 }
 .bottomLinks a:hover {
     text-decoration: none;
 }
 .gutter {
     display: none;
 }
 .toolbar {
     display: none;
 }
 .syntaxhighlighter a,
 .syntaxhighlighter div,
 .syntaxhighlighter code,
 .syntaxhighlighter table,
 .syntaxhighlighter table td,
 .syntaxhighlighter table tr,
 .syntaxhighlighter table tbody,
 .syntaxhighlighter table thead,
 .syntaxhighlighter table caption,
 .syntaxhighlighter textarea {
     -moz-border-radius: 0 0 0 0 !important;
     -webkit-border-radius: 0 0 0 0 !important;
     background: none !important;
     border: 0 !important;
     bottom: auto !important;
     float: none !important;
     height: auto !important;
     left: auto !important;
     line-height: 130% !important;
     margin: 0 !important;
     outline: 0 !important;
     overflow: visible !important;
     overflow: hidden !important;
     padding: 0 !important;
     position: static !important;
     right: auto !important;
     text-align: left !important;
     top: auto !important;
     vertical-align: baseline !important;
     width: 100% !important;
     box-sizing: content-box !important;
     font-family: Consolas, Courier New, monospace !important;
     font-weight: normal !important;
     font-style: normal !important;
     font-size: 13px !important;
     min-height: inherit !important;
     min-height: auto !important;
     white-space: pre-wrap !important;
 }
 .syntaxhighlighter {
     width: 99% !important;
     margin: 1em 0 1em -4px !important;
     position: relative !important;
     overflow: auto !important;
     font-size: 1em !important;
     height: auto;
     border: silver 1px solid;
     clear: both;
 }
 .syntaxhighlighter.source {
     overflow: hidden !important;
 }
 .syntaxhighlighter .bold {
     font-weight: bold !important;
 }
 .syntaxhighlighter .italic {
     font-style: italic !important;
 }
 .syntaxhighlighter .line {
     white-space: pre-wrap;
 }
 .syntaxhighlighter table {
     width: 99% !important;
 }
 .syntaxhighlighter table caption {
     text-align: left !important;
     padding: .5em 0 0.5em 1em !important;
 }
 .syntaxhighlighter table td.code {
     width: 97% !important;
 }
 .syntaxhighlighter table td.code .container {
     position: relative !important;
 }
 .syntaxhighlighter table td.code .container textarea {
     box-sizing: border-box !important;
     position: absolute !important;
     left: 0 !important;
     top: 0 !important;
     width: 97% !important;
     height: 100% !important;
     border: none !important;
     background: var(--codef-bgcolor) !important;
     padding-left: 1em !important;
     overflow: hidden !important;
     white-space: pre-wrap;
 }
 .syntaxhighlighter table td.gutter .line {
     text-align: right !important;
     padding: 0 0.5em 0 1em !important;
 }
 .syntaxhighlighter table td.code .line {
     padding: 0 0.5em !important;
 }
 .syntaxhighlighter.nogutter td.code .container textarea,
 .syntaxhighlighter.nogutter td.code .line {
     padding-left: 0em !important;
 }
 .syntaxhighlighter.show {
     display: block !important;
 }
 .syntaxhighlighter.collapsed table {
     display: none !important;
 }
 .syntaxhighlighter .toolbar {
     position: absolute !important;
     right: 1px !important;
     top: 1px !important;
     width: 11px !important;
     height: 11px !important;
     font-size: 10px !important;
     z-index: 10 !important;
     visibility: hidden;
 }
 .syntaxhighlighter.ie {
     font-size: .9em !important;
     padding: 1px 0 1px 0 !important;
 }
 .syntaxhighlighter.printing .line.alt1 .content,
 .syntaxhighlighter.printing .line.alt2 .content,
 .syntaxhighlighter.printing .line.highlighted .number,
 .syntaxhighlighter.printing .line.highlighted.alt1 .content,
 .syntaxhighlighter.printing .line.highlighted.alt2 .content {
     background: none !important;
 }
 .syntaxhighlighter.printing .line .number {
     color: #bbbbbb !important;
 }
 .syntaxhighlighter.printing .line .content {
     color: black !important;
 }
 .syntaxhighlighter.printing a {
     text-decoration: none !important;
 }
 .syntaxhighlighter.printing .break,
 .syntaxhighlighter.printing .break a {
     color: black !important;
 }
 .syntaxhighlighter {
     background-color: var(--code-bgcolor) !important;
 }
 .syntaxhighlighter .line.alt1 {
     background-color: var(--code-bgcolor)!important;
 }
 .syntaxhighlighter .line.alt2 {
     background-color: var(--code-bgcolor) !important;
 }
 .syntaxhighlighter .line.highlighted.alt1,
 .syntaxhighlighter .line.highlighted.alt2 {
     background-color: #e0e0e0 !important;
 }
 .syntaxhighlighter .line.highlighted.number {
     color: black !important;
 }
 .syntaxhighlighter table caption {
     color: black !important;
 }
 .syntaxhighlighter .gutter {
     color: #afafaf !important;
 }
 .syntaxhighlighter .gutter .line {
     border-right: 3px solid #6ce26c !important;
 }
 .syntaxhighlighter .gutter .line.highlighted {
     background-color: #6ce26c !important;
     color: var(--code-bgcolor) !important;
 }
 .syntaxhighlighter.printing .line .content {
     border: none !important;
 }
 .syntaxhighlighter.collapsed {
     overflow: visible !important;
 }
 .syntaxhighlighter .plain,
 .syntaxhighlighter .plain a {
     color: var(--code-plain) !important;
 }
 .syntaxhighlighter .comments,
 .syntaxhighlighter .comments a {
     color: var(--code-comment) !important;
 }
 .syntaxhighlighter .string,
 .syntaxhighlighter .string a {
     color: var(--code-string) !important;
 }
 .syntaxhighlighter .keyword {
     color: var(--code-keyword) !important;
 }
 .syntaxhighlighter .preprocessor {
     color: gray !important;
 }
 .syntaxhighlighter .variable {
     color: #aa7700 !important;
 }
 .syntaxhighlighter .value {
     color: #009900 !important;
 }
 .syntaxhighlighter .functions {
     color: #ff1493 !important;
 }
 .syntaxhighlighter .constants {
     color: #0066cc !important;
 }
 .syntaxhighlighter .script {
     color: #006699 !important;
     background-color: none !important;
 }
 .syntaxhighlighter .color1,
 .syntaxhighlighter .color1 a {
     color: gray !important;
 }
 .syntaxhighlighter .color2,
 .syntaxhighlighter .color2 a {
     color: #ff1493 !important;
 }
 .syntaxhighlighter .color3,
 .syntaxhighlighter .color3 a {
     color: red !important;
 }
 .menT {
     float: left;
     display: none;
     font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
     font-size: 8.8pt;
     width: 165px;
     height: 99%;
     overflow-x: hidden;
     overflow-y: auto;
     border-top: 1px solid #ccc;
 }
 .menR {
     clear: both;
 }
 #content_right {
     width: 100%;
     float: right;
     margin-left: -166px;
 }
 #content_center {
     width: 100%;
     float: left;
 }
 .menC {
     font-size: 1.1rem;
     display: block;
     width: auto;
     float: none;
     clear: both;
     background: var(--menc-bg-color);
     overflow: hidden;
     margin: 0;
     border-left: 1px solid #ccc;
     border-right: 1px solid #ccc;
 }
 .menTOpened {
     display: block;
 }
 .contentRightInnerOpened {
     margin-left: 166px;
 }
 .menCOpened {
     margin-right: -166px;
 }
 .menT a {
     color: var(--mentA-text-color);
     text-decoration: none;
 }
 .file:hover {
     background-color: transparent;
 }
 .menT ul {
     margin-right: 3px;
 }
 .filetree li ul li {
     background: transparent;
     padding-left: 7px;
 }
 .treeview,
 .treeview ul {
     padding: 0;
     margin: 0;
     margin-left: 3px;
     list-style: none;
     line-height: 150%;
 }
 .treeview ul {
     background-color: transparent;
     margin-top: 4px;
 }
 .treeview .hitarea {
     background: var(--sprite-img) -154px -26px no-repeat;
     height: 16px;
     width: 16px;
     margin-left: -16px;
     float: left;
     cursor: pointer;
 }
 .treeview li {
     margin: 0;
     padding: 3px 0pt 3px 16px;
 }
 #treecontrol {
     margin: 1em 0;
     display: none;
 }
 .treeview .hover {
     cursor: pointer;
 }
 .treeview li {
     background: var(--sprite-img) 2px -208px no-repeat;
 }
 .treeview li.collapsable,
 .treeview li.expandable {
     background-position: 2px -384px;
 }
 .treeview .expandable-hitarea {
     background-position: -170px -4px;
 }
 .treeview li.last {
     background-position: 2px -1974px;
 }
 .treeview li.lastCollapsable,
 .treeview li.lastExpandable {
     background-image: var(--sprite-img) -90px -1px no-repeat;
 }
 .treeview li.lastCollapsable {
     background-position: -90px -113px
 }
 .treeview li.lastExpandable {
     background-position: -122px -69px
 }
 .treeview div.lastCollapsable-hitarea,
 .treeview div.lastExpandable-hitarea {
     background-position: 0;
 }
 .treeview div.lastCollapsable-hitarea {
     background-position: -90px -116px;
 }
 .treeview div.lastExpandable-hitarea {
     background-position: -122px -72px;
 }
 .filetree li {
     padding: 3px 0 2px 16px;
 }
 .filetree span.folder,
 .filetree span.file {
     padding: 1px 0 1px 20px;
     display: block;
 }
 .filetree span.folder {
     background: var(--sprite-img) -68px -148px no-repeat;
 }
 .filetree li.expandable span.folder {
     background: var(--sprite-img) -25px -187px no-repeat;
 }
 .filetree span.file {
     background: var(--sprite-img) -48px -167px no-repeat;
 }
 .filetree li ul li:hover > .file {
     background: var(--sprite-img) -48px -167px no-repeat;
     color: var(--tree-selcolor);
     background-color: var(--tree-selbgcolor);
 }
 .filetree li:hover > .folder {
     color: var(--tree-selcolor);
     background-color: var(--tree-selbgcolor);
 }
 .filetree span.file a {
     text-decoration: none;
     width: 99%;
     display: inline-block;
 }
 .filetree li ul li:hover > .file a {
     background-color: var(--tree-selbgcolor);
     color: var(--tree-selcolor);
 }
 .filetree li ul {
     list-style: none;
 }
 .question-section {
     background-color: #e0e0e0;
     padding: 18px;
     font-size: 20px;
     margin-top: 40px;
     font-weight: bold;
 }
 .question {
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .question-header {
     font-size: 16px;
     font-weight: bold;
 }
 .answer [type=checkbox] {
     display: none;
 }
 .answer label {
     display: block;
     font-size: 16px;
     line-height: 16px;
     background: #eee;
     border: 1px solid #ccc;
     color: #333;
     font-weight: 600;
     padding: 10px;
 }
 .answer div label:hover,
 .answer [type=checkbox]:checked ~ label {
     background: #777;
     color: #FFF;
 }
 .answer .answer-content {
     padding: 0 10px;
     overflow: hidden;
     border: 1px solid #fff;
     box-sizing: border-box;
 }
 .answer [type=checkbox]:checked ~ label {
     border-bottom: 0;
 }
 .answer label:hover {
     border: 1px solid #ccc;
 }
 div.answer div.answer-content {
     height: 0px;
     border-top: 0;
 }
 .answer [type=checkbox]:checked ~ label ~ .answer-content {
     height: auto;
     border: 1px solid #ccc;
 }
 a.publisher-anchor-color {
     color: green;
 }
 @media (max-width: 598px) {
     #header {
         height: 85px;
     }
     #header #search {
         position: relative;
         top: -7px;
         right: 40px;
     }
 }
 @media (min-width:350px) and (max-width: 599px) {
     #header {
         height: 90px;
     }
     #logo {
         margin-left: 10px;
     }
     .menuButton {
         right: 20px;
     }
     #search {
         margin-right: 10px;
     }
     #magnifying-glass {
         right: 70px;
     }
 }
 @media (min-width:600px) {
     #search {
         margin-right: 10px;
     }
     #yt {
         width: 560px;
         height: 315px;
     }
     .menC .like {
         margin-right: 10px;
     }
     .menC .like ul {
         margin-right: 15px;
     }
     .menC .share li,
     .menC .like li {
         padding-left: 5px;
     }
     table.tab {
         display: table;
     }
     table.tab tr {
         display: table-row;
     }
     table.tab td {
         display: table-cell;
     }
     .syntaxhighlighter a,
     .syntaxhighlighter div,
     .syntaxhighlighter code,
     .syntaxhighlighter table,
     .syntaxhighlighter table td,
     .syntaxhighlighter table tr,
     .syntaxhighlighter table tbody,
     .syntaxhighlighter table thead,
     .syntaxhighlighter table caption,
     .syntaxhighlighter textarea {
         -moz-border-radius: 0 0 0 0 !important;
         -webkit-border-radius: 0 0 0 0 !important;
         background: none !important;
         border: 0 !important;
         bottom: auto !important;
         float: none !important;
         height: auto !important;
         left: auto !important;
         line-height: 150% !important;
         margin: 0 !important;
         outline: 0 !important;
         overflow: visible !important;
         padding: 0 !important;
         position: static !important;
         right: auto !important;
         text-align: left !important;
         top: auto !important;
         vertical-align: baseline !important;
         width: auto !important;
         box-sizing: content-box !important;
         font-family: Consolas, Courier New, monospace !important;
         font-weight: normal !important;
         font-style: normal !important;
         font-size: 13px !important;
         min-height: inherit !important;
         min-height: auto !important;
         white-space: pre !important;
     }
     .syntaxhighlighter {
         width: 98% !important;
         margin: 1em 0 1em 0 !important;
         position: relative !important;
         overflow: auto !important;
         font-size: 1em !important;
         max-height: 400px !important;
         border: silver 1px solid;
     }
     .syntaxhighlighter .line {
         white-space: pre !important;
     }
     .syntaxhighlighter table {
         width: 100% !important;
     }
     .syntaxhighlighter table td.code .container textarea {
         box-sizing: border-box !important;
         position: absolute !important;
         left: 0 !important;
         top: 0 !important;
         width: 100% !important;
         height: 100% !important;
         border: none !important;
         background: white !important;
         padding-left: 1em !important;
         overflow: hidden !important;
         white-space: pre !important;
     }
     .gutter {
         display: block;
     }
     .like.socialbottom ul {
         margin-right: 25px;
     }
     .share.socialbottom {
         margin-left: 20px;
     }
 }
 @media (min-width:1065px) {
     .menTOpened {
         display: block;
     }
     .contentRightInnerOpened {
         margin-left: 166px;
     }
     .menCOpened {
         margin-right: 30px;
     }
     .fa-bars {
         display: none;
     }
     #container {
         min-width: 890px;
     }
     #header {
         clear: both;
         height: auto;
         margin-top: 3px;
     }
     #logo {
         width: 320px;
         height: 50px;
         float: left;
         font-size: 17.5px;
         padding-left: 60px;
         margin-bottom: 14px;
         color: var(--logo-color);
     }
     #logo a {
         color: var(--logo-color);
         font-size: 27px;
         font-weight: bold;
     }
     /*==============================
        Menu
     ==============================*/
     #menuButton {
         display: none;
     }
     #menu ul,
     #menu ul .dropdown {
         width: 100%;
         display: inline-block;
         text-align: center;
     }
     #menu > ul > li {
         margin-left: -6px;
         display: inline-block;
     }
     #menu ul li {
         border: 0px;
         width: auto;
         height: auto;
     }
     #menu .drop-item {
         display: none;
     }
     #menu {
         height: 38px;
         font-size: 13px;
         clear: both;
         width: 100%;
         text-align: center;
         display: block;
         border: 1px solid #ccc;
         background: var(--menu-bg-color);
         text-shadow: 0 var(--menu-text-shadow-width) var(--menu-text-shadow-width) rgba(255, 255, 255, 0.75);
         box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 3px 6px -3px rgba(0, 0, 0, 0.25);
         background: var(--menu-bg-color);
         background: -ms-linear-gradient(top, var(--menu-bg-color), var(--menu-second-bg-color));
         background: -moz-linear-gradient(top, var(--menu-bg-color), var(--menu-second-bg-color));
         background: -webkit-linear-gradient(90deg, var(--menu-second-bg-color) 0%, var(--menu-bg-color) 100%);
     }
     #menu .menu-btn li> a {
         text-decoration: none;
         padding: 13px 0px 13px 0px;
         width: 107.5px;
         clear: both;
         margin: 0px;
         margin-left: 0px;
         border: 0px;
         border-left: 1px solid #ccc;
         border-right: 1px solid #ccc;
         display: inline-block;
         text-shadow: 0 var(--menu-text-shadow-width) var(--menu-text-shadow-width) rgba(255, 255, 255, 0.75);
         box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), 3px 3px 6px -3px rgba(0, 0, 0, 0.25);
         background: var(--menu-bg-color);
         background: -ms-linear-gradient(top, var(--menu-bg-color), var(--menu-second-bg-color));
         background: -moz-linear-gradient(top, var(--menu-bg-color), var(--menu-second-bg-color));
         background: -webkit-linear-gradient(90deg, var(--menu-second-bg-color) 0%, var(--menu-bg-color) 100%);
     }
     ul .item .drop-item {
         display: none;
     }
     /*
     end of menu 
     ----------------------*/
     #magnifying-glass {
         right: 40px;
     }
     #search {
         margin-right: 10px;
         width: 380px;
     }
     #cse-search-box input[type="text"] {
         width: 300px;
     }
     .console {
         max-width: 500px;
     }
     .browser {
         max-width: 500px;
     }
     #content_right {
         width: 100%;
         float: right;
         margin-left: -166px;
     }
     #content_right_inner {
         margin-left: 166px;
     }
     #content_center {
         width: 100%;
         float: left;
         margin-right: -181px;
     }
     .menR {
         width: 180px;
         float: right;
         border: 0px;
         clear: none;
     }
     .menT {
         float: left;
         display: block;
         font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
         font-size: 8.5pt;
         width: 165px;
         height: 99%;
         overflow-x: hidden;
         overflow-y: auto;
     }
     .menC {
         font-size: calc(var(--font-md) + 2px);
         display: block;
         width: auto;
         float: none;
         clear: both;
         overflow: hidden;
         margin: 0;
         margin-right: 181px;
         border-left: 1px solid #ccc;
         border-right: 1px solid #ccc;
     }
     .menC P {
         line-height: 160%;
     }
     .date {
         font-size: 9pt;
     }
     .contpage {
         width: 70%;
     }
     .contpage a {
         font-size: 13px;
     }
     #footer {
         font-size: 11pt;
         clear: both;
         line-height: 1.5;
         text-align: center;
         padding: 10px 0;
         height: 100%;
     }
     .centerRight {
         margin-left: 10px;
     }
     .centerLeft {
         margin-bottom: 8px;
     }
     h1 {
         font-size: 26px;
     }
     h2 {
         font-size: 23px;
     }
     h1,
     h2 {
         margin-left: 5px;
     }
 }
 @media (min-width:1210px) {
     #search {
         margin-right: 10px;
     }
     h1,
     h2 {
         margin-left: 8px;
         text-align: center;
     }
     .menC {
         min-height: 850px;
     }
     .centerRight {
         width: 50%;
         display: inline-block;
         float: left;
         margin-left: 0px;
     }
     .centerLeft {
         display: inline-block;
         margin-bottom: 8px;
         width: 48%;
         margin-left: 2%;
     }
     .articleText {
         margin-left: 13px;
         margin-right: 14px;
         margin-top: 30px;
     }
     .menT .filetree {
         padding-top: 7px;
     }
 }
 @media (min-width:1100px) {
     #menu .mainmenu li> a {
         width: 90px;
     }
 }
 @media (min-width:1140px) {
     #yt {
         width: 770px;
         height: 433px;
     }
     #menu .mainmenu li> a {
         width: 108px;
     }
 }
 @media (min-width:1300px) {
     #container {
         border-left: 1px solid #ccc;
         border-right: 1px solid #ccc;
     }
     .articleText {
         padding-left: 20px;
         padding-right: 20px;
     }
 }
